<div class="container pt-3">
	<div class="row p-3"><h4>Hotel {{ room.nombreHotel }}</h4></div>

	<form [formGroup]="form">
		<div class="row">
			<div class="col-4">
				<label for="initialDate">Initial date: </label><input class="form-control" formControlName="initialDate">
			</div>
			<div class="col-4 form-group" [ngClass]="{'has-error': initialHour.invalid}">
				<label for="initialHour">Initial hour: </label><input class="form-control" type="number" formControlName="initialHour">
				<p class="has-error" *ngIf="initialHour.invalid">Invalid</p>
			</div>
			<div class="col-4 form-group" [ngClass]="{'has-error': hours.invalid}">
				<label for="hours">Hours: </label><input class="form-control" type="number" formControlName="hours">
				<p class="has-error" *ngIf="hours.invalid">Invalid</p>
			</div>
		</div>
	</form>

	<div class="row">
		<div class="col-6">
			<img src="{{room.fotoHabitacion}}" alt="{{room.nombreHotel}}">
		</div>
		<div class="col-6">
			<h6>Description: </h6><p>This {{room.tipoHabitacion | lowercase}} room is ubicated at {{ room.ubicacion }} and costs {{room.precioHora}}€/hour.</p>
			<h6>Reservation total amount: </h6><p>{{room.precioHora * form.controls.hours.value | number}} €</p>
		</div>
	</div>

	<div class="row pt-3">
		<div class="col-6"><button class="btn btn-outline-secondary" routerLink="">Back</button></div>
		<div class="col-6 rightAlign"><button class="btn btn-outline-dark">Book</button></div>
	</div>
</div>
