<div class="container pt-3">
	<div class="row">
		<div class="col-4">
			<p>Initial date <span>{{ initialDate }}</span></p>
		</div>
		<div class="col-4 form-group">
			<label for="initialHour">Initial hour</label>
			<input class="form-control" #initialHour type="number">
		</div>
		<div class="col-4 form-group">
			<label for="hours">Hours</label>
			<input class="form-control" #hours type="number">
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<img src="" alt="">
		</div>
		<div class="col-6">
			<p>Description...</p>
			<p>Reservation total amount... <span>{{ reservationAmount | number }} €</span></p>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<button class="btn btn-outline-secondary">Back</button>
		</div>
		<div class="col-6 rightAlign">
			<button class="btn btn-outline-dark">Book</button>
		</div>
	</div>
</div>
